#map {
    width: 100%;
}

html, body, .container-fluid, .row, .left-panel, #map {
    height: 100%;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.left-panel {
    padding-left: 0px;
}

.right-panel {
    padding-top: 60px;
    padding-right: 20px;
    text-align: justify;
    text-align-last: left;
    font-size: 25px;
}

.scrollY {
    max-height: 100%;
    overflow-y: scroll;
}

#text > p > img {
    width: 100%;
}

path.leaflet-clickable {
    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
    animation: dash 10s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}


/* Form Progress */
.progress {
  margin: 0 auto;
text-align: center;
height: 45px;
position: absolute;
z-index: 3;
width: 100%;
 background: transparent;
}
.progress .circle,
.progress .bar {
  display: inline-block;
  background: #fff;
  width: 30px; height: 30px;
  border-radius: 40px;
}
.progress .circle-cat {
  border: 1px solid #d5d5da;
    width: 40px; height: 40px;
}
.progress .bar {
  position: relative;
  width: 80px;
  height: 6px;
  top: -33px;
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.progress .circle .label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 17px;
}
.progress .circle .title {
  color: #b5b5ba;
  font-size: 13px;
  line-height: 30px;
  margin-left: -5px;
}

/* Done / Active */
.progress .bar.done,
.progress .circle.done {
  background: #eee;
}
.progress .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.progress .circle.done .label {
  color: #FFF;
  background: #8bc435;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.done .title {
  color: #444;
}
.progress .circle.active .label {
  color: #FFF;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.active .title {
  color: #0c95be;
}