#map {
    width: 100%;
    margin-top: -70px;
}

body {
  background: #2D728F;
}

html, body, .container-fluid, .row, .left-panel, #map {
    height: 100%;
    font-family: 'Asap', sans-serif;
}

h2 {
  font-weight: bold;
}

h1, h2, h3, p {
  color: #fff;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.left-panel {
    padding-left: 0px;
}

.right-panel {
    padding: 40px 30px;
    text-align: justify;
    text-align-last: left;
    font-size: 20px;
    line-height: 1.3em;
}

.scrollY {
    max-height: 100%;
    overflow-y: scroll;
}

#text > p > img {
    width: 100%;
}

#depthSlider {
    display: none;
    position: absolute;
    bottom: 100px;
    margin-left: 15px;
}

.slider.slider-vertical {
    height: 500px;
}

path.leaflet-clickable {
    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
    animation: dash 10s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}


/* Form Progress */
.progress {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 70px;
  margin-bottom: 0;
  z-index: 3;
  width: 100%;
  background: transparent;
  /*background: rgba(29,53,87,0.5)*/
}
.progress .circle,
.progress .bar {
    text-indent: 90px;
    overflow: hidden;
    background: #2D728F;
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin: 4px;
    align-self: center;
}
.progress .circle-cat {
  border: 3px solid #2D728F;
  width: 40px; height: 40px;
}
.progress .bar {
  position: relative;
  width: 80px;
  height: 6px;
  top: -33px;
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.progress .circle .label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 17px;
}
.progress .circle .title {
  color: #b5b5ba;
  font-size: 13px;
  line-height: 30px;
  margin-left: -5px;
}

/* Done / Active */
.progress .bar.done,
.progress .circle.done {
  background: #eee;
}
.progress .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.progress .circle.done .label {
  color: #FFF;
  background: #8bc435;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.done .title {
  color: #444;
}
.progress .circle.active .label {
  color: #FFF;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.active .title {
  color: #0c95be;
}

.circle-cat {
  text-indent: 90px;
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
}

.circle:not(.circle-cat):hover {
  cursor: default;
}

.circle.active {
  background-color: #fff;
}

.circle.passed {
  background-color: #fff;
}

.circle-cat::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  background-repeat: no-repeat;
  display: block;
  width: 26px;
  height: 26px;
  margin-left: -13px;
  margin-top: -13px;
}

.circle-cat.courants::after {
  background-image: url('../images/courant-active.svg');
}

.circle-cat.salinite::after {
  background-image: url('../images/salinite-active.svg');
}

.circle-cat.temperatures::after {
  background-image: url('../images/temperatures-active.svg');
}

.circle-cat.vents::after {
  background-image: url('../images/vents-active.svg');
}

.circle-cat.active.courants::after,
.circle-cat.passed.courants::after {
  background-image: url('../images/courant.svg');
}

.circle-cat.active.salinite::after,
.circle-cat.passed.salinite::after {
  background-image: url('../images/salinite.svg');
}

.circle-cat.active.temperatures::after,
.circle-cat.passed.temperatures::after {
  background-image: url('../images/temperatures.svg');
}

.circle-cat.active.vents::after,
.circle-cat.passed.vents::after {
  background-image: url('../images/vents.svg');
}

.circle-cat.introduction::after {
  background-image: url('../images/intro-active.svg');
}

.circle-cat.active.introduction::after,
.circle-cat.passed.introduction::after {
  background-image: url('../images/intro.svg');
}

.circle-cat.conclusion::after {
  background-image: url('../images/end-active.svg');
}

.circle-cat.active.conclusion::after,
.circle-cat.passed.conclusion::after {
  background-image: url('../images/end.svg');
}

.next-button {
  margin: 0;
  padding: 0;
  background: #2D728F;
  border-radius: 50px;
  border: none;
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -25px;
  border: 4px solid transparent;
}

.next-button:hover {
  background: #62CFE0;
}

.next-button::after {
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  background-image: url('../images/intro-active.svg');
}

.legend {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    bottom: 30px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10);
    font: 12px/20px 'Asap', sans-serif;
    padding: 10px;
    position: absolute;
    right: 20px;
    z-index: 1;
}

.legend h4 {
    margin: 0 0 10px;
}

.legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

#temperature-legend {
    display: none;
}