#map {
    width: 100%;
}

html, body, .container-fluid, .row, .left-panel, #map {
    height: 100%;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.left-panel {
    padding-left: 0px;
}

.right-panel {
    padding-right: 20px;
    text-align: justify;
    text-align-last: left;
    font-size: 25px;
}

.scrollY {
    max-height: 100%;
    overflow-y: scroll;
}

#text > p > img {
    width: 100%;
}

path.leaflet-clickable {
    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
    animation: dash 10s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}